body{
	background: #D8E6FF ;


}

.container{

	margin-top: 10px;
	border: 1px solid #C1D0FF;
	padding : 10px;
	background: white;
	border-radius: 3px;
} 


#cab{
	
	border-radius: 3px;
	border: 1px solid #C1D0FF;
	margin : 0px;
	padding-top: 3px;
	background: #C1D0FF;
	background: -moz-linear-gradient(top, #C1D0FF, #fff) repeat-X;
	background: -webkit-gradient(linear, left top, left bottom, from(#C1D0FF), to(#fff)) repeat-X;
	

}

#cab .row{

	margin : 0px ;

}
